# Configuration Django
SECRET_KEY=votre-cle-secrete-django-a-changer
DEBUG=True

# Base de données Supabase PostgreSQL
USE_SUPABASE=true
DB_NAME=postgres
DB_USER=postgres.lowncckbivxmiakzmsxq
DB_PASSWORD=VOTRE_MOT_DE_PASSE_POSTGRESQL
DB_HOST=aws-0-eu-west-3.pooler.supabase.com
DB_PORT=6543

# Supabase API (pour acces direct si besoin)
SUPABASE_URL=https://lowncckbivxmiakzmsxq.supabase.co
SUPABASE_KEY=votre-cle-supabase
